<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_layout">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <h2>EMPLOYEE LIST</h2>
    <div><a th:href="'/employee/add'" ><button>ADD</button></a></div>
    <table style="width: 100%" border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Image</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
        <tr th:each="employee : ${employees}">
            SE2 – TUTORIAL 2
            <td th:text="${employee.id}"></td>
            
            </td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.age}"></td>

            <td>
                <img th:src="'/images/' + ${employee.image}" width="200" height="300"></img>
            </td>
            <td th:text="${employee.address}"></td>
            <td>
                <a th:href="'/employee/detail/' + ${employee.id}"><button>View</button></a>
                <a th:href="'/employee/update/' + ${employee.id}"><button>Update</button></a>
                <a th:href="'/employee/delete/' + ${employee.id}"><button>Delete</button></a>
            </td>
        </tr>
        <div class="filterContainer my-3">
            Company:
            <select id="filterCompany">
                <option value="0">All companies</option>
                <option th:each="comp : ${companies}"
                        th:value="${comp.id}"
                        th:text="${comp.name}" />
            </select>
            Sort:
            <select id="sortOptions">
                <option value="0">Latest</option>
                <option value="1">Oldest</option>
                <option value="2">By name ASC</option>
                <option value="3">By name DESC</option>
            </select>
        </div>
    </table>
</div>
</body>
</html>